[github]
	user = citizen428
[user]
	email = citizen428@gmail.com
	name = Michael Kohl
[color]
	status = auto
	branch = auto
	diff = auto
[alias]
	# http://gitready.com/intermediate/2009/02/12/easily-fetching-upstream-changes.html
	pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
	# update submodules
	subup = !"git pull --recurse-submodules && git submodule update"
	#  Mostly from http://www.metacircus.com/hacking/2011/02/18/play-git-like-a-violin.html
  	# I like using the interactive mode to make complex commits
        a = add --all
        ai = add --interactive

  	# All the aliases relate to commits. Note that
 	# they are grouped by common prefixes, so I don't
  	# confuse what I want done by accident.
	c = commit
	# commit with a message
	cm = commit -m
	cma = commit -a -m
	# amending the previous commit
	ca = commit --amend
	caa = commit -a --amend -C HEAD

	# reset
	## soft resets
	r = reset
	r1 = reset HEAD^
	r2 = reset HEAD^^
	## hard resets
	rh = reset --hard
	rh1 = reset HEAD^ --hard
	rh1 = reset HEAD^^ --hard

	# shortcuts for commands
	s = status -sb
	st = status
	d = diff
	co = checkout
	b = branch
	l = log
	f = fetch
	r = reset
	p = pull
	m = merge
	count = shortlog -sn
	loggraph = log --color --graph --decorate --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[core]
	excludesfile = ~/.gitignore
	editor = vim
[push]
	default = current
[merge]
	tool = opendiff
	stat = true
[rerere]
	enabled = true
[init]
	templatedir = ~/.git_template
