{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash
sudo tee /etc/pam.d/sudo_local > /dev/null <<'EOF'
auth       optional       /opt/homebrew/opt/pam-reattach/lib/pam/pam_reattach.so
auth       sufficient     pam_tid.so
EOF
{{ end -}}
